@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
  --primary-color: #181b3a;
  --secondary-color: #4caeffda;
  --body-bg: rgb(235, 235, 235);
  --card-01-bg: linear-gradient(#ef621c, #e1424e);
  --card-02-bg: linear-gradient(#01d293, #56c57a);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --heading-color: #fff;
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Urbanist', sans-serif;
  background: linear-gradient(135deg, rgb(216, 216, 216), #eed1ffd7);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: unset;
}

.main_layout{
  margin-left: 270px;
}